
// .meals-container

main {
    min-height: 100vh;
    min-width: 100%;
    background-color: white;

    .meals-container {
        max-width: 1007rem;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        color: black;
        padding: 2rem 2rem;
        gap: 2rem 1rem;
    }



    .meal {
        background-color: white;
        max-height: 250px;
        max-width: 300px;
        border-radius: 5px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        .meal-img {
        max-height: 190px;
        border-radius: 5px 5px 0 0;
        min-width: 300px;
    }

    .text {
        display: flex;
        column-gap: 1rem;
        max-width: 300px;
        padding: 10px 0;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        font-size: 1.2rem;

        img {
            height: 35px;
            width: 35px;
        }

      
    }

    }


}